/* Fonts Kumbh Sans */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans';
}

::after, ::before {
    box-sizing: inherit;
}

:root {
    /* ### Primary */
    /* #### Text */
    --Very-dark: hsl(238, 29%, 16%);
    /*desaturated blue*/
    --Soft-red: hsl(14, 88%, 65%);
    /* #### Gradient */
    /* Background gradient: */
    --Soft-violet: hsl(273, 75%, 66%);
    --Soft-blue: hsl(240, 73%, 65%);
    /* ### Neutral */
    /* #### Text */
    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);
    /* #### Dividers */
    --Light-grayish-blue: hsl(240, 5%, 91%);
}

.attribution {
    font-size: 12px;
    text-align: center;
    background-color:#000;
    color:#fff;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    width: auto;
    background-color: #000;
    padding: 2px 5px;
}