body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
    font-family: 'Lexend Deca', 'sans-serif';
}

.container {
    color: #fff;
    width: 81.2%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.info {
    width: 50%;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1c1938;
    border-radius: 10px 0px 0px 10px;
}

.insghts {
    color: var(--SoftViolet);
}

p {
    font-size: 0.9rem;
    line-height: 1.8;
    color: var(--SlightlyTransparentWhite);
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    width: 95%;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.numbers {
    display: flex;
    flex-direction: column;
}

.numbers li:first-child {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
    font-family: 'Inter', 'sans-serif' !important;
    list-style-type: none;
}

.numbers li:last-child {
    color: var(--SlightlyTransparentWhiting);
    list-style-type: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 400;
}

.bg {
    width: 50%;
    border-radius: 0rem 0.6rem 0.6rem 0px;
    background-color: var(--SoftViolet);
}

.image {
    width: 100%;
    height: 100%;
    opacity: .7;
    mix-blend-mode: darken;
    border-radius: 0 0.6rem 0.6rem 0;
}

.attribution {
    color:#fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    bottom: 0.6rem;
    
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1050px) {
    body {
        height: auto;
        margin-top: 2.5rem;
    }
    .container {
        flex-direction: column-reverse;
        height: auto;
    }
    .info {
        width: 100%;
        height: auto;
        border-radius: 0 0 0.6rem 0.6rem;
        padding: 30px;
    }
    .bg {
        border-radius: 0.6rem 0.6rem 0px 0px;
        width: 100%;
        height: 30vh;
    }
    p {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }
    .numbers {
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
    .info {
        align-items: center;
        text-align: center;
    }
    .info h1 {
        font-size: 2.3rem;
        font-weight: 700;
        font-family: 'Inter', 'sans-serif' !important;
    }
    .data {
        flex-direction: column;
    }
    
    .bg {
        border-radius: 0.6rem 0.6rem 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 24vh;
    }

    .image {
        background-image: url('/images/image-header-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 1;
    }


    .attribution {
        position: unset;
        margin-top: 4rem;
        margin-bottom: .5rem;
    }
}