* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

::after, ::before {
    box-sizing: initial;
}

:root {
    /* ## Colors */
    /* ### Primary */
    --Pink: hsl(322, 100%, 66%);
    
    /* ### Neutral */
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);   
}

a {
    text-decoration: none;
    color: inherit;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
